h1  DB

== link_to "Back", root_path
  
table.table.table-striped.table-hover style="width:70%"
  thead
    tr
      - @spreadsheet.rows[0].each do |header|
        th
          == header
  tbody
    - @spreadsheet.rows[1..@spreadsheet.rows.count].each do |row|
      tr
        - row.each do |cell|
          td 
            == cell

== link_to "Download json", {:controller => "homepage", :action => "download_json", :id => @spreadsheet.id }, class: "btn btn-primary btn-lg"
