h1 Settings

h2 Update databases
== link_to "Update database", seed_spreadsheets_path, class: "btn btn-primary"

h2 Update assets metadata
p File was uploaded at "#{@last_upload}"

p You need exiftool for this process
ul
  li Open Dropbox folder in teminal
  li run command "exiftool -f -r -p '$directory, $filename, $ImageWidth, $ImageHeight, $MIMEType' ./ > out.csv"
  li upload generated file to this section

== form_tag upload_path, { :multipart => true } do
    == file_field_tag 'upload[file]'
    == submit_tag "Upload"

h3 Seed assets
== link_to "Seed", seed_assets_path, class: "btn btn-primary"
