h1 
  == "#{@project.title}. List of assets"
  
table.table.table-striped.table-hover style="width:75%"
  thead
    tr
      - @headers.each do |header|
        th
          == header
  tbody    
    - @project.assets.order(:name).each do |asset|
      tr  
        td
          == asset.name
        - @headers[1..@headers.count].each do |header|
          td class="size #{asset.sizes["drawable-#{header}"]['correct'] == false ? 'danger' : 'success' unless asset.sizes["drawable-#{header}"].nil?}"
            == asset.sizes["drawable-#{header}"].nil? ? "n/a" : "#{asset.sizes["drawable-#{header}"]['width']}x#{asset.sizes["drawable-#{header}"]['height']}"
