// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding: 10px 10px 75px 25px;
}

btn btn-primary btn-lg {
  margin: 0 auto;
  display: block;
  width: 150px;
}

td.size {
  text-align: center;
}

th {
  text-align: center;
}
